[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
typing_extensions = "*"
pydantic = "*"
xlrd = ">= 1.0.0"

[dev-packages]
pytest = "*"
pytest-flake8 = "*"
pytest-helpers-namespace = "*"
pytest-lazy-fixture = "*"
mypy = "==0.770"
pytest-mypy = "*"
XlsxWriter = "*"
openpyxl = "*"
